nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/
.nb-config/

*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

*.log
*.out
*.tmp

*.iml
.idea/
.vscode/

.DS_Store
Thumbs.db

*~
*.swp
*.swo
